**/.env
**/.venv
**/env
**/ENV
**/venv
**/__pycache__
**/*.pyc

# pbwt files
pbwt/pbwt
pbwt/version.h
**/*.o

build/
*.egg-info
*.egg
MANIFEST
.cache
.pytest_cache/

.ipynb_checkpoints
ipython_config.py
profile_default/
.python-version

__pypackages__/


/.vscode





/data
/new_data
/method_first_draft
/hmm_args_dump
/results

/*.log

/*.pkl
/*.png
/*.jpg

/intermediate_variables_dump
/memusage_*.tsv
/checkpoints.tsv
/memory-benchmark*
/membench*
/mismatch-*

/SelphiFirstDraft-impute_all_chr.refact.py
/SelphiFirstDraft-impute_all_chr.refact*.py
/test_maps.sh
/testref_panel.py
/tmp*.py
/accuracy-*
/tmp*

/modules/*.o
/modules/*.lib

/lib/

test
